<!DOCTYPE html>
<html>
<head>
    <title>angularjs ratings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
    .my-rating {
        font-size: 32px;
        color: white;
        text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;
    }
    .my-rating .foreground {
        color: #ff7f38;
    }
    body > div {
        margin: 10px;
    }
    </style>
</head>
<body ng-app="myApp" ng-controller="MyCtrl">
<div rating="rating" class="my-rating" step="step" max="max"></div>
<div>
rating
<input ng-model="rating" type="text">
</div>
<div>
step
<input ng-model="step" type="text">
</div>
<div>
max
<input ng-model="max" type="text">
</div>
<div style="width: 500px;">
Can change the colors by inspecting and chaging the "color" style of the main
div or the foreground class. Changing text spacing or width will not update the
widget properly so that will not work.
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="../../js/rating-widget.js"></script>
<script>
var myApp = angular.module('myApp', ['rating-widget'])
    .controller('MyCtrl', ['$scope', function($scope) {
        $scope.rating = 1;
        $scope.step = 0.1
        $scope.max = 4;
    }]);
</script>
</html>

